* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.active-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #0F1B4C;
  border-radius: 12px;
  color: #FFFFFF;
}

header {
  width: 1440px;
  height: 736px;
  background-color: #E6F0FF;
}
header .header-nav {
  display: flex;
  height: 40px;
  width: 1110px;
  padding-top: 46px;
}
header .header-nav .navbar {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  margin-left: 64px;
}
header .header-nav .navbar .logo {
  width: 107px;
  height: 24px;
}
header .header-nav .navbar .menu {
  display: flex;
  width: 371px;
  height: 21px;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
header .header-nav .navbar .menu a {
  text-decoration: none;
  color: #5A6473;
}
header .header-nav .navbar .nav-button {
  height: 40px;
  width: 191px;
  display: flex;
  margin-top: -7px;
}
header .header-nav .navbar .nav-button .nbutton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 0;
  height: 40px;
  width: 98px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  color: #0F1B4C;
  font-weight: 500;
}
header .header-content {
  position: absolute;
  width: 559px;
  height: 371px;
  left: 165px;
  top: 208px;
  font-family: "Poppins", sans-serif;
  color: #687690;
}
header .header-content h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  margin: 8px 0 30px 0;
  color: #000336;
}
header .header-content #hspan1 {
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-size: 18px;
}
header .header-content #hspan2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #5A6473;
}
header .header-content .hcbtn {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  padding: 15px 37px 15px 38px;
  margin-top: 100px;
  display: inline-flex;
  margin-top: 40px;
}
header .house-img {
  position: absolute;
  top: 116px;
  left: 791px;
}

.companies {
  width: 1440px;
  height: 312px;
  margin-top: 122px;
}
.companies .container .companies-up {
  display: flex;
  justify-content: space-between;
}
.companies .container .companies-up .span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #7D8589;
  margin-top: -3px;
}
.companies .container .companies-up .companies-content {
  width: 346px;
  height: 67px;
  display: inline-grid;
  gap: 23px;
}
.companies .container .companies-up .companies-review {
  display: inline-grid;
  gap: 23px;
  justify-items: end;
  margin-top: 4px;
}
.companies .container .companies-bottom {
  display: flex;
  height: 245px;
}
.companies .container .companies-bottom .companies-logos {
  display: flex;
  align-items: center;
  gap: 98px;
}
.companies .container .companies-bottom .companies-logos .logos {
  width: 145px;
}

.how {
  width: 1440px;
  height: 560px;
  margin-top: 66px;
}
.how .how-text {
  width: 459px;
  height: 136px;
  text-align: center;
  margin: 0 auto;
}
.how .how-text h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #000339;
  margin: 7px auto 20px auto;
}
.how .how-text span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5A6473;
  line-height: 30px;
}
.how .how-sell {
  width: 685px;
  height: 129px;
  margin: 70px auto 50px auto;
  display: flex;
  gap: 140px;
}
.how .how-sell .guides {
  width: 141px;
  height: 127px;
  text-align: center;
}
.how .how-sell .guides h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #3B3C45;
  margin: 26px auto 10px auto;
}
.how .how-sell .guides a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #0689FF;
}
.how .how-button {
  width: 170px;
  height: 50px;
  display: flex;
  margin: 0 auto;
}
.how .how-button a {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  padding: 14px 24px 16px 25px;
  line-height: 25px;
}

.feature {
  width: 1440px;
  height: 727px;
  background: #F5FAFE;
}
.feature .texts {
  width: 1110px;
  height: 82px;
  padding: 110px 0 68px 0;
  display: flex;
  justify-content: space-between;
}
.feature .texts .text-left h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #000339;
  margin: 0 0 15px 0;
}
.feature .texts .text-left span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #5A6473;
}
.feature .texts a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #0689FF;
  margin-top: 55px;
}
.feature .texts img {
  margin-left: 8px;
}
.feature .cards {
  width: 1110px;
  height: 357px;
  margin-top: 82px;
  display: flex;
  gap: 30px;
}
.feature .cards .card {
  width: 350px;
  height: 357px;
  background: #FFFFFF;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
  border-radius: 12px;
}
.feature .cards .card-footer {
  margin-left: 20px;
}
.feature .cards .card-footer .card-mid {
  margin-bottom: 18px;
}
.feature .cards .card-footer .card-mid h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin: 14px 0 8px 0;
}
.feature .cards .card-footer .card-mid span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #A3A6AB;
}
.feature .cards .card-footer .card-bottom {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #4D4D52;
  display: flex;
  align-items: center;
}
.feature .cards .card-footer .card-bottom span {
  margin-right: 22px;
}
.feature .cards .card-footer .card-bottom img {
  margin-right: 8px;
}

.blank {
  width: 1440px;
  height: 785px;
  margin-top: 75px;
}

.newsletter {
  width: 1440px;
  height: 409px;
  margin-top: 87px;
}
.newsletter .news-content {
  width: 1110px;
  height: 370px;
  background-color: #063183;
  border-radius: 20px;
  display: flex;
}
.newsletter .news-content .text-button {
  padding-left: 79px;
  padding-top: 110px;
}
.newsletter .news-content .text-button h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: #000339;
  line-height: 35px;
  margin: 0 0 15px 0;
  color: #FFFFFF;
}
.newsletter .news-content .text-button span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.75;
  color: #FFFFFF;
}
.newsletter .news-content .text-button .news-button {
  margin-top: 35px;
}
.newsletter .news-content .text-button .news-button .newsbtn {
  padding: 15px 23px 16px 24px;
  text-decoration: none;
  background-color: white;
  color: #0F1B4C;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}
.newsletter .news-content .telephone {
  position: relative;
  left: 201px;
  bottom: 38px;
}

footer .footer {
  width: 100%;
  position: relative;
  height: auto;
  font-family: "Poppins", sans-serif;
}
footer .footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
footer .footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
footer .footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer .col ul li {
  color: #7A7A7E;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
footer .social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
footer .footer .col ul li:hover {
  color: #000000;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
footer .clearfix {
  clear: both;
}/*# sourceMappingURL=main.css.map */